@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

body {
  font-family: "Caprasimo", cursive;
}

.primary-font {
  color: #8b542f;
}

.primary-button-active {
  background-color: #faaf18;
}

.primary-orange-font {
  color: #ed7801;
}

.primary-button {
  background-color: #ed7801;
  color: white;
}

.secondary-grey-bk-font {
  color: #919191;
}
